.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  width: 320px;
  height: 160px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 32px;
}

#title {
  height: 24px;
}

#ok,
#cancel {
  width: 80px;
  height: 28px;
}

#note {
  height: 28px;
  flex-grow: 1;
}
