/* MeasurePanel */

.panel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 8px;
  width: 280px;
  height: 220px;
}

#title {
  width: 220px;
  height: 22px;
}

#unit {
  width: 220px;
  height: 18px;
}

#length,
#area,
#azimuth {
  width: 220px;
  height: 22px;
}

#table {
  width: 260px;
  height: 90px;
}
