/* SelectionPanel */

.panel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  width: 280px;
  height: 200px;
}

#title {
  width: 220px;
  height: 22px;
}

#count {
  width: 240px;
  height: 18px;
}

#table {
  width: 260px;
  height: 90px;
  flex-grow: 1;
}

.commands {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 280px;
  height: 32px;
}

#clear,
#invert,
#zoom,
#export {
  width: 64px;
  height: 28px;
}
