.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  width: 380px;
  height: 170px;
}

#name_label {
  height: 22px;
  width: 360px;
}

#kind_label {
  height: 22px;
  width: 360px;
}

#url_label {
  height: 22px;
  width: 360px;
}

#name {
  height: 28px;
  width: 360px;
}

#kind {
  height: 28px;
  width: 360px;
}

#url {
  height: 28px;
  width: 360px;
}

